.flex_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    font-family: Raleway;
    padding-top: 40px;
}

.card {
    width: 280px;
    background-color: #8783d1;
    padding: 20px;
}

.book_image {
    width: 250px;
}

.book_title {
    font-size: 26px;
    line-height: 75%;
    font-weight: 600;
}

.book_author {
    font-size: 20px;
    font-weight: 500;
    line-height: 75%;
}

.book_genre {
    font-size: 20px;
    font-weight: 500;
    line-height: 75%;
}