.review-form{
     display: flex;
    flex-direction: column;
    background-color: #CAFE48;
    padding: 20px;
    gap: 10px;
    margin: 20px 0;
    width: 225px;
}

.review-title {
    font-weight: 600;
    padding-bottom: 15px;
    text-align: center;
}

#rating{
    padding: 10px;
    border: none;
}

#name{
    padding: 10px;
    border: none;
}
.label-names {
    margin-top: 10px;
    margin-bottom: -8px;
    
}
#review{
    height:100px;
    padding: 10px;
    border: none;
}

  ::placeholder{
    padding-left: 5px;
    color: #8783D1;
  }

.submit{
    
    background-color: #CAFE48;
    color: #220C10;
    padding: 10px 80px;
    font-size: 1.2rem;
    border: solid #220C10 2px;
    align-self: center;
    margin-top: 15px;
}

.submit:hover{
    background-color: #220C10;
    color: #CAFE48;
    font-size: 1.2rem;
    border: solid #CAFE48 2px;
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 4px;
}
