.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin-top: 10px 10px;
    background-color: #CAFE48;
    height: 30px;
    padding: 15px;
    
}

a:link{
    text-decoration: none!important;
    color: #220C10;
    font-size: 2rem;
    font-weight: 700;
  }

.right-links a {
    padding: 10px;
    font-size: 1.4rem;
}

@media screen and (max-width: 800px) {
    .navBar {
    justify-items: center;
    flex-wrap: wrap;
    height: 50px;
    }

    a:link {
        font-size: 1.2rem;
    }

    .right-links a {
        font-size: 1rem;
    }
}